{% extends 'base.html'%}
{% block title %} Create {% endblock %}
{% block main %}

    <h2>{{front_request.top_page}} </h2>
        <P>{{say_me}}</P>
        <form method="post" target="_blank">
            <label for="id_student">id студента:</label>
            <input type="text" id="id_student" name="id_student" ><br><br>
            <label for="token">Сколько хотите положить токенов: </label>
            <input type="text" id="token" name="token" ><br><br>
            <input type="submit" value="Submit">
        </form>
    <h2>{{front_request.bottom_page}}</h2>

{% endblock %}
