<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} </title>
    </head>
    <body>
        <nav class="top-menu">
            <ul class="menu-main">
                <li><a href="/" class="current">Main</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/categores">Category list</a></li>
                <li><a href="/createcat">Create category</a></li>
                <li><a href="/createcurs">Create curs</a></li>
                <li><a href="/createstudent">Create student</a></li>
                <li><a href="/gotocurs">Curs registration</a></li>
                <li><a href="/categoryapi">Category API</a></li>
                <li><a href="/addmoney">Add money</a></li>
            </ul>
        </nav>
        {% block main %}{% endblock %}

    </body>
</html>