{% extends 'base.html'%}
{% block title %} Elements {% endblock %}
{% block main %}

    <h1>{{front_request.top_page}} </h1>
        <P>{{say_me}}</P>
        {% if object_list %}
        <ul>
            {%- for category in object_list.values() %}
            <li> {{category.category_name}}</li>
                <ul>
                    {%- for curs in category.curses %}
                    <li> {{curs.curs_name}}  (тип курса - {{curs.curs_type}}) </li>
                        <ul>
                            {%- for student in curs.students_list %}
                            <li> Ученик: {{student.fname}} {{student.lname}}  ID:{{student.id}} </li>
                            {% endfor -%}
                        </ul>
                    {% endfor -%}
                </ul>
            {% endfor -%}
        </ul>
        {% else %}
        <P>Пока здесь нет категорий :( </P>
        {% endif %}

        <P> ------------------------------------------------------------------------------- </P>
        {% if db_list %}
        <ul>
            {%- for catname in db_list %}
                <li> {{catname}} </li>
                    <ul>
                        {%- for curs in db_list_curs %}
                            {% if curs[2] == catname %}
                                <li> {{curs}} </li>
                            {% endif %}
                        {% endfor -%}
        </ul>
            {% endfor -%}
        </ul>
        {% endif %}


    <h1>{{front_request.bottom_page}}</h1>

{% endblock %}
