{% extends 'base.html'%}
{% block title %} Create {% endblock %}
{% block main %}

    <h2>{{front_request.top_page}} </h2>
        <P>{{say_me}}</P>
        <form method="post" target="_blank">
            <label for="curs_name">Curs name:</label>
            <input type="text" id="curs_name" name="curs_name" ><br><br>
            <label for="curs_type">Choose: offline or online:</label>
            <input type="text" id="curs_type" name="curs_type" ><br><br>
            <input type="submit" value="Submit">
        </form>
    <h2>{{front_request.bottom_page}}</h2>

{% endblock %}
